[Unit]
Description=Service for Xorg server :%i

[Service]
ExecStart=/usr/bin/Xorg :%i -seat __fake-seat-%i__ -dpms -s 0 -nocursor -noreset -terminate
StopWhenUnneeded=yes
SuccessExitStatus=0 1
