[Unit]
Description=Service for Xorg server for SM501 video card %i

[Service]
ExecStartPre=/usr/bin/oi-lab-update-xorg-conf %i
ExecStart=/usr/bin/oi-lab-xorg-daemon %i
SuccessExitStatus=0 1
