[Unit]
Description=OI-Lab multi-seat configuration
ConditionPathExistsGlob=!/etc/udev/rules.d/72-seat-*
Wants=oi-lab-multi-seat-config-xorg@10.socket
After=oi-lab-multi-seat-config-xorg@10.socket

[Service]
Type=oneshot
ExecStart=/usr/sbin/oi-lab-multi-seat-config
