ACTION=="remove", GOTO="seat_end"

# USB Audio Hub ThinNetworks
SUBSYSTEM=="usb", ATTR{idVendor}=="05e3", ATTR{idProduct}=="0608", ENV{ID_SEAT}=="", RUN+="/usr/bin/oi-lab-seat-attach-helper %p"

LABEL="seat_end"
