<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

  

 <vendor>Terminal</vendor>
 <vendor_url>http://lxde.org/</vendor_url>
 <icon_name>utilities-terminal</icon_name>


 <action id="org.lxde.lxterminal">
 
 <description>Run Terminal as root</description>
 <description xml:lang="pt_BR">Rodar o Terminal como superusuário</description>
 <message>Authentication is required to run Terminal as root.</message>
 <message xml:lang="pt_BR">Autenticação é requerida para rodar o Terminal como superusuário.</message>
 <defaults>
 <allow_any>no</allow_any>
 <allow_inactive>auth_admin</allow_inactive>
 <allow_active>auth_admin</allow_active>
 </defaults>
 <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/lxterminal</annotate>
 <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
 </action>

</policyconfig>
