<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

  

 <vendor>Mousepad</vendor>
 <vendor_url>http://xfce.org/</vendor_url>
 <icon_name>accessories-text-editor</icon_name>


 <action id="org.xfce.mousepad">
 
 <description>Run Text Editor as root</description>
 <description xml:lang="pt_BR">Rodar o Editor de Textos como superusuário</description>
 <message>Authentication is required to run Text Editor as root.</message>
 <message xml:lang="pt_BR">Autenticação é requerida para rodar o Editor de Textos como superusuário.</message>
 <defaults>
 <allow_any>no</allow_any>
 <allow_inactive>auth_admin</allow_inactive>
 <allow_active>auth_admin</allow_active>
 </defaults>
 <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/mousepad</annotate>
 <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
 </action>

</policyconfig>
