<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

  

 <vendor>PCManFM</vendor>
 <vendor_url>http://lxde.org/</vendor_url>
 <icon_name>system-file-manager</icon_name>


 <action id="org.lxde.pcmanfm">
 
 <description>Run File Manager as root</description>
 <description xml:lang="pt">Executar o Gerenciador de Arquivos como root</description>
 <message>Authentication is required to run File Manager as root.</message>
 <message xml:lang="pt_BR">Autenticação é requerida para rodar o Gerenciador de Arquivos como superusuário.</message>
 <defaults>
 <allow_any>no</allow_any>
 <allow_inactive>auth_admin</allow_inactive>
 <allow_active>auth_admin</allow_active>
 </defaults>
 <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/pcmanfm</annotate>
 <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
 </action>

</policyconfig>
