Source: oi-lab
Section: admin
Priority: optional
Maintainer: Laércio de Sousa <laerciosousa@sme-mogidascruzes.sp.gov.br>
Build-Depends: debhelper (>= 9), libcairo2-dev, libxcb1-dev, libxcb-randr0-dev, libxcb-util0-dev, pkg-config
Standards-Version: 3.9.5
Homepage: https://github.com/oiteam/oi-lab
Vcs-Git: git://github.com/oiteam/oi-lab.git
Vcs-Browser: https://github.com/oiteam/oi-lab

Package: oi-lab-freeze-users
Architecture: all
Depends: ${misc:Depends}, bindfs, libpam-mount, hxtools, xdg-user-dirs-gtk
Recommends: python-gnomekeyring
Suggests: oi-lab-xubuntu-extra-settings | oi-lab-lubuntu-extra-settings
Description: automatic user creation and freezing for school labs
 This package creates automatically some special users and
 freezes their desktop configuration, so that all changes are
 reverted after logout. Another special user is created for
 templating the frozen ones' configuration.

Package: oi-lab-proinfo-multi-seat-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, xserver-xorg-video-siliconmotion
Recommends: xserver-xorg-video-nested, zram-config
Suggests: oi-lab-freeze-users, oi-lab-userful-rescue
Description: utilities for multi-seat support in some ProInfo computers
 This package includes some scripts and configuration files
 for multi-seat support in ProInfo-MEC computers with audio USB hubs from
 ThinNetworks and video cards based on Silicon Motion SM501 chip, namely:
 .
 - pregão FNDE 83/2008 (up to 3 seats)
 - pregão FNDE 68/2009 2º lote, with a pair of SM501 cards (up to 5 seats)
 - pregão FNDE 71/2010 (up to 3 seats)

Package: oi-lab-userful-rescue
Architecture: all
Depends: ${misc:Depends}, curl
Description: userful-rescue-live ISO (workaround for buggy SM501 cards)
 This package provides a mini-ISO image of a live Ubuntu 12.04 system with
 Userful Multiseat 5.0 pre-installed, destined to work around a bug which
 may affect some Silicon Motion SM501 video cards. It also includes a GRUB
 menu entry and a set of systemd service units to automate direct boot into
 userful-rescue-live ISO when the computer turns on.

Package: oi-lab-compton
Architecture: all
Depends: ${misc:Depends}, compton
Description: OI-Lab configuration for Compton window compositing manager
 This package provides extra settings for Compton window compositing manager
 to best fit our low-level Silicon Motion SM501 graphics cards.

Package: oi-lab-lubuntu-extra-settings
Architecture: all
Depends: ${misc:Depends}
Recommends: oi-lab-compton, lubuntu-extra-sessions, numlockx, qt5ct
Description: additional configuration for Lubuntu and other LXDE-based systems
 This package provides extra settings for Lubuntu and other LXDE-based systems,
 like context menu actions for opening Terminal/File Manager/Text Editor
 as root.

Package: oi-lab-xubuntu-extra-settings
Architecture: all
Depends: ${misc:Depends}
Recommends: oi-lab-compton
Description: additional configuration for Xubuntu and other Xfce-based systems
 This package provides extra settings for Xubuntu and other Xfce-based systems,
 like context menu actions for opening Terminal/File Manager/Text Editor
 as root.

Package: oi-lab-edu-meta
Architecture: all
Depends: ${misc:Depends},
         gcompris-qt,
         tuxpaint, tuxpaint-config, tuxpaint-stamps-default,
         ktuberling, kde-l10n-ptbr,
         childsplay, childsplay-alphabet-sounds-pt,
         tuxmath,
         tuxtype,
         kgeography,
         ktouch,
         marble,
         kstars,
         kbruch,
         kig
Suggests: omnitux,
          kolourpaint,
          inkscape,
          calibre,
          einstein,
          geogebra,
          chemtool,
          dia,
          fritzing,
          pencil2d
Description: selected educational packages for OI-Lab project
 This metapackage installs a selection of educational packages derived
 from ubuntu-edu-preschool and ubuntu-edu-primary
